&lt;img class=&quot;avatar&quot; src=&quot;{{img.avatar.src}}&quot; alt=&quot;Avatar&quot; /&gt;

&lt;img class=&quot;avatar avatar--s&quot; src=&quot;{{img.avatar.src}}&quot; alt=&quot;Avatar&quot; /&gt;